*.obj
*.exe
*.a
source/PosixClient/Shared/HScrollListBox.cpp
source/PosixClient/Shared/HScrollListBox.h
*.suo

# Build
build/

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
